<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <div class="row">
    <div class="col">
      <!-- <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber"> -->
        <button mat-button type="button" (click)="onclick()">
        View Content
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button mat-button type="button" (click)="addcontent = !addcontent">
        Add Content
      </button>
    </div>
  </div>
  <div *ngIf="addcontent">
  <form [formGroup]="AddContentForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Add Content</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Content Title" formControlName="contentTitle">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Content" formControlName="userContent">
            </mat-form-field>
          </div>
        </div>
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

  <div class="row" *ngIf="hasUnitNumber">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of data2" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.contentTitle}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>{{card.userContent}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  </div>
</div>
